{% import 'core.html' as inti %}
<html>
  <head>
    {{ inti.headers(wajib) }}
  </head>
  <body>
    {{ inti.navbar(scall) }}
    <br>
    <img class="img-fluid rounded mx-auto d-block" src="https://media.tenor.com/images/f63ebf6c2c4d7a9d30ef1d7c5e61d2c9/tenor.gif">
    <br>
    <div class="col-md-12">
      <div class="card shadow-shorter">
        <div class="card-body bg-danger">
          <p class="h3 font-sambut text-center">Maaf terjadi kesalahan yang tidak diinginkan :"(</p>
        </div>
      </div>
    </div><br><br>
    {{ inti.footer(bawah) }}
    {{ inti.java(anim) }}
  </body>
</html>
