{% import 'core.html' as inti %}
<html>
  <head>
    {{ inti.headers(wajib) }}
    <title>Index</title>
  </head>
  <body>
    {{ inti.navbar(scall) }}
    <div class="col-md-12">
        <div class="card bg-secondary shadow-shorter">
          <div class="card-body">
            <img class="img-fluid rounded mx-auto d-block" src="https://media2.giphy.com/media/McbPvWvb6pcbGufaIu/giphy.gif"/><br><br>
            <h3 class="font-sambut text-center">'' Selamat datang diweb sederhana saya.Website ini dibangun dengan menggunakan flask dan bootstarp 4.Untuk melihat fitur yang tersedia silakan tekan tombol diatas kanan ''</h3>
          </div>
        </div>
    </div><br><br>
    {{ inti.footer(bawah) }}
    {{ inti.java(anim) }}
  </body>
</html>
