{% import 'core.html' as inti %}
<html>
  <head>
    {{ inti.headers(wajib) }}
    <title>Surah</title>
  <body>
    {{ inti.navbar(scall) }}
    <img class="img-fluid rounded mx-auto d-block" src="https://d.top4top.io/p_1936r5ex40.jpeg">
    <div class="container">
      <div class="row">
         {% for hasil in jeson %}
         <div class="col-md-6 mt-4">
           <div class="card shadow-shorter">
             <div class="card-body">
               <p class="h2 text-center text-dark">{{ hasil.nomor }} </p>
               <hr class="display-4 bg-dark">
               <p class="text-center mx-auto text-dark h3">{{ hasil.ar }}</p><br>
               <div class="container">
                 <div class="card bg-secondary">
                   <div class="card-body">
                      <p class="h5 text-center font-sambut text-dark">{{ hasil.id }} </p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         {% endfor %}
      </div>
    </div><br><br>
    {{ inti.footer(bawah) }}
    {{ inti.java(anim) }}
   </body>
  </html>
